<!DOCTYPE html>
<html>
<head>
  <title>Rubyconf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<form>
First name: <input type="text" name="firstname"><br>
Email: <input type="text" name="email">
</form>
</body>
</html>




